<ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
<ngx-editor [editor]="editor" [(ngModel)]="html"></ngx-editor>
<br>
<button type="button" (click)="Guardar()">GUARDAR</button>

<!--se necesita un servidor-->
<br><br>
<div [innerHTML]="html"></div>